$lightgrey: rgb(235, 235, 235);
$darkgrey: rgb(130, 130, 130);

.ShortcutsList {
    height: 100%;
    overflow-y: auto;
}
.ShortcutsList__List {
    list-style: none;
    padding: 0;
    margin: 0;
}
.Shortcut {
    width: 100%;
    height: 100%;
    border: none;
    text-align: left;
    background-color: transparent;
    color: black;
    cursor: pointer;
    padding: 10px 20px;
    position: relative;

    &__Title {
        font-weight: normal;
        font-size: 16px;
        word-break: break-word;
    }

    &__Subtitle {
        color: $darkgrey;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 12px;
    }

    &__Edit {
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;

        display: none;
        justify-content: center;
        align-items: center;
        background-color: $lightgrey;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 100%;
            width: 30px;
            height: 100%;
            background-image: linear-gradient(
                to right,
                transparent,
                $lightgrey
            );
        }

        &__Button {
            cursor: pointer;
            width: 70px;
            height: 100%;
            border: none;
            background-color: transparent;
            color: $darkgrey;

            &:hover {
                color: black;
            }
        }
    }
    &:hover &__Edit {
        display: flex;
    }
    &.--isActivated &__Edit {
        display: flex;
    }

    &.--isActivated {
        background-color: $lightgrey;
    }

    &:hover {
        background-color: $lightgrey;
    }
}
